.body, .html {
    height: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
}

.cls-1, .cls-2, .cls-3 {
    fill: none;
}

.cls-1, .cls-2, .cls-3, .cls-4 {
    stroke: #e0e0e2;
}

.cls-1, .cls-2 {
    stroke-width: 3px;
}

.cls-2, .cls-3, .cls-4 {
    fill-rule: evenodd;
}

.cls-3, .cls-4 {
    stroke-width: 2px;
}

.main-content {
    padding-left: 40px;
    padding-top: 50px;
    display: flex;
}

.left-content {
    width: 50%;
    padding-left: 100px;
    padding-right: 70px;
}

.right-content {
    padding-left: 50px;
    max-width: 1000px;
}

.bg {
    background-image: url("../img/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav, .navbar {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: bold;
    color: #e0e0e2;
    padding: 20px 60px;
}

.navbar-brand {
    vertical-align: middle;
    width: 50px;
    box-sizing: border-box;
    padding: 20px 60px;
}

.nav-link {
    margin: 8px 20px;
}

.button_no_border {
    border: none;
    background: none;
}

.navbar-light .navbar-nav > .nav-item > .nav-link:hover, .navbar-light .navbar-nav > .nav-item > .nav-link:focus {
    color: #34546a; /*Sets the text hover color on navbar*/
}

.navbar-light .navbar-nav > .nav-item > .nav-link {
    color: #e0e0e2; /*Sets the text color on navbar*/
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav > .active > .nav-link:hover, .navbar-light .navbar-nav > .active > .nav-link:focus{
    color: #e0e0e2; /*Sets the text color on navbar active*/
}

.header_cust {
    color: #e0e0e2;
    font-weight: 800;
    font-size: 54px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.button_cust {
    color: #e0e0e2;
    border-color: #e0e0e2;
    border: 2px solid;
    border-radius: 40px;
    padding: 10px 25px;
    font-size: 20px;
    display: block;
    clear: both;
}

.button_cust:hover, .button_cust:focus {
    color: #34546a;
    border-color: #e0e0e2;
    background-color: #e0e0e2;
}

/*  Color scheme:
    PX: #ff4365
    PO: #95f9e3
    P:  #989898
    L:  #e0e0e2 */

.turn-block {
    display: flex;
}

.turn-p1 {
    color: #ff4365;
    border-bottom: 5px solid #ff4365;
    stroke:  #ff4365;
}

.turn-p2 {
    color: #95f9e3;
    border-bottom: 5px solid #95f9e3;
    stroke:  #95f9e3;
}

.turn-p {
    color: #989898;
    border-bottom: 5px solid #989898;
    stroke: #989898;
}

.turn-p1, .turn-p2, .turn-p {
    padding-bottom: 10px;
    width: 150px;
    text-align: center;
}

.svg-img {
    stroke-width: 15px;
    stroke-linecap: round;
}

.board-block {
    width: 305px;
    height: 305px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 15px;
}

.row:not(:last-child) button:not(:last-child) {
    border-right: 2px solid #e0e0e2;
    border-bottom: 2px solid #e0e0e2;
    border-left: none;
    border-top: none;
}

.row:not(:last-child) button:last-child {
    border-right: none;
    border-bottom: 2px solid #e0e0e2;
    border-left: none;
    border-top: none;
}

.row:last-child button:not(:last-child) {
    border-right: 2px solid #e0e0e2;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.row:last-child button:last-child {
    border-right: 2px solid #e0e0e2;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
}

.square {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    outline: none;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block !important;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
}

.hide {
    display: none !important;
}

.selected {
    color: #e0e0e2;
    display: block;
    font-size: 0.5rem;
    margin: 0 auto;
}

.fa-beat {
    animation:fa-beat 1s ease infinite;
}

@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform:scale(1.25);
  }
  90% {
    transform:scale(0.85);
  }
  100% {
    transform: scale(1.1);
  }
}

.move-from-top {
    animation:move-from-top 1s ease;
}

@keyframes move-from-top {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 400px;
        opacity: 1;
    }
}


.win-block {
    position: absolute;
    background-color: #e0e0e2;
    width: 300px;
    height: 400px;
    z-index: 1;
    padding-top: 80px;
}

.win-img-div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.win-img {
    color: #34546a;
    display: block;
    font-size: 5rem;
    margin: 0 auto;
}

.win-msg {
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-weight: 800;
    font-size: 54px;
    color: #34546a;
    padding-top: 50px;
}

.draw-msg {
    text-align: center;
    margin: 0 auto;
    font-weight: 800;
    font-size: 45px;
    color: #34546a;
    padding-top: 80px;
}

.x-win, .o-win {
    position: absolute;
    stroke-width: 15px;
    stroke-linecap: round;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.win-left {
    width: 50%;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.win-right {
    padding-left: 20px;
    padding-right: 30px;
}

.connect-title {
    position: absolute;
    font-weight: 800;
    font-size: 25px;
    color: #e0e0e2;
    z-index: 2;
    text-align: left;
}

.connect-block {
    text-align: left;
    position: absolute;
    margin: 0 auto;
    font-weight: 800;
    font-size: 20px;
    color: #e0e0e2;
    width: 300px;
    height: 400px;
    z-index: 2;
    padding-top: 20px;
    overflow: auto
}

.about-row {
    display: flex;
    padding-top: 50px;
}

.about-title {
    color: #e0e0e2;
    font-weight: 800;
    font-size: 54px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 350px;
}

.about-description {
    color: #e0e0e2;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 150px;
    padding-left: 70px;
}

.player-btn {
    color: #e0e0e2;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    display: block;
    clear: both;
    padding-bottom: 20px;
}

.game-id {
    color: #e0e0e2;
    font-size: 10px;
    vertical-align: bottom;
    text-align: right;
    padding-top: 50px;
}

.back {
    color: #e0e0e2;
    font-size: 20px;
    position: absolute;
    font-weight: bold;
}
